#root {
  max-width: 80em;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h4 {
  font-size: 1.3em;
  color: #575757;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  color: #575757;
  margin: 0;
}

.card {
  padding: 2em;
}

.avatar {
  width: 8em;
  height: 8em;
  border-radius: 0.7em;
  object-fit: cover;
  border: 0.1em solid rgba(187, 187, 187, 0.1);
}

.avatar-container {
  position: relative;
  width: 8em;
  height: 8em;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25em;
  text-align: center;
}

.user-swap {
  position: absolute;
  bottom: 0.1em;
  right: 0.1em;
  width: 1.3em;
  height: 1.3em;
  object-fit: contain;
  transition: transform 0.05s ease;
}

.user-swap:hover {
  transform: scale(1.2);
  animation: turn180 1s ease-in-out infinite;
  border-radius: 5em;
  border: 0.1em solid rgba(0, 53, 77, 0.9);
  background-color: rgba(0, 53, 77, 0.9);
}

@keyframes turn180 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}